<!-- Botão flutuante do carrinho -->
<!-- <button class="btn btn-primary btn-floating-cart d-block d-md-none" onclick="openCartSidebar()">
    <i class="bi bi-cart"></i>
    <span id="cart-total-items-sidebar" class="badge badge-light">{{ cart.items.count }}</span>
</button> -->

<!-- Sidebar do carrinho -->
<div id="cartSidebar" class="cart-sidebar">
    <div class="cart-sidebar-header">
        <h5>Seu Carrinho</h5>
        <button type="button" class="close" onclick="closeCartSidebar()">&times;</button>
    </div>
    <div class="cart-sidebar-body">
        {% for item in cart.items.all %}
        <div class="cart-sidebar-item" id="cart-sidebar-item-{{ item.product.id }}">
            <div class="row">
                <div class="col-4">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: auto; height: 60px;">
                    {% else %}
                    <img src="{{ product_default_url }}" alt="{{ item.product.name }}" class="img-thumbnail" style="width: auto; height: 60px;">
                    {% endif %}
                </div>
                <div class="col-8">
                    <p>{{ item.product.name }}</p>
                    <p>Quantidade: {{ item.quantity }}</p>
                    <p>Total: €{{ item.get_cost }}</p>
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeFromCart('{{ item.product.id }}')"><i class="bi bi-trash"></i> Remover</button>
        </div>
        {% endfor %}
    </div>
    <div class="cart-sidebar-footer">
        <p>Total: <span id="cart-total-cost-sidebar">€{{ total_cost }}</span></p>
        <a href="{% url 'cart_detail' %}" class="btn btn-primary btn-block">Finalizar Compra</a>
    </div>
</div>

<style>
    /* Botão flutuante */
    .btn-floating-cart {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    
    /* Sidebar do carrinho */
    .cart-sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    }
    
    .cart-sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: #007bff14;
        color: white;
    }
    
    .cart-sidebar-body {
        padding: 16px;
    }
    
    .cart-sidebar-footer {
        padding: 16px;
        background-color: #f1f1f1;
        text-align: center;
    }
    
    .cart-sidebar .close {
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
    </style>

<script>
    function openCartSidebar() {
        document.getElementById("cartSidebar").style.width = "300px";
    }

    function closeCartSidebar() {
        document.getElementById("cartSidebar").style.width = "0";
    }

    function updateQuantity(productId, type, action = null) {
        var input = document.getElementById('quantity_' + type + '_' + productId);
        var currentQuantity = parseInt(input.value);
    
        if (action === 'increment') {
            input.value = currentQuantity + 1;
        } else if (action === 'decrement' && currentQuantity > 1) {
            input.value = currentQuantity - 1;
        }
    
        var updatedQuantity = parseInt(input.value);
    
        if (updatedQuantity < 1 || isNaN(updatedQuantity)) {
            input.value = 1;
            updatedQuantity = 1;
        }
    
        $.ajax({
            url: "{% url 'update_cart_item_quantity' %}",
            type: "POST",
            data: {
                'product_id': productId,
                'quantity': updatedQuantity,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.cart_data) {
                    document.getElementById('cart-total-items').textContent = response.cart_data.total_items;
                    document.getElementById('cart-total-items-sidebar').textContent = response.cart_data.total_items;
                    document.getElementById('cart-total-cost').textContent = '€' + response.cart_data.total_cost.toFixed(2).replace('.', ',');
                    document.getElementById('cart-total-cost2').textContent = '€' + response.cart_data.total_cost.toFixed(2).replace('.', ',');
                    document.getElementById('cart-total-cost-sidebar').textContent = '€' + response.cart_data.total_cost.toFixed(2).replace('.', ',');
    
                    // Atualizar total na tabela
                    var tableRow = document.getElementById('cart-item-' + productId);
                    if (tableRow) {
                        var price = parseFloat(tableRow.querySelector('td:nth-child(3)').textContent.replace('€', '').replace(',', '.'));
                        tableRow.querySelector('td:nth-child(4)').textContent = '€' + (price * updatedQuantity).toFixed(2).replace('.', ',');
                    }
    
                    // Atualizar total no card
                    var cardRow = document.getElementById('cart-item-card-' + productId);
                    if (cardRow) {
                        var price = parseFloat(cardRow.querySelector('.card-text').textContent.replace('Preço: €', '').replace(',', '.'));
                        cardRow.querySelector('.card-text:last-of-type').textContent = 'Total: €' + (price * updatedQuantity).toFixed(2).replace('.', ',');
                    }
    
                    // Atualizar total no sidebar
                    var sidebarItem = document.getElementById('cart-sidebar-item-' + productId);
                    if (sidebarItem) {
                        var price = parseFloat(sidebarItem.querySelector('.cart-sidebar-item p:nth-of-type(2)').textContent.replace('€', '').replace(',', '.'));
                        sidebarItem.querySelector('.cart-sidebar-item p:nth-of-type(3)').textContent = 'Total: €' + (price * updatedQuantity).toFixed(2).replace('.', ',');
                    }
                } else {
                    console.error('Resposta AJAX inválida:', response);
                }
            },
            error: function(xhr, status, error) {
                console.error("Ocorreu um erro: " + error);
            }
        });
    }
    
    function removeFromCart(productId) {
        $.ajax({
            url: "{% url 'remove_from_cart' product_id=0 %}".replace('0', productId),
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.cart_data) {
                    document.getElementById('cart-total-items').textContent = response.cart_data.total_items;
                    document.getElementById('cart-total-items-sidebar').textContent = response.cart_data.total_items;
                    document.getElementById('cart-total-cost').textContent = '€' + response.cart_data.total_cost.toFixed(2);
                    document.getElementById('cart-total-cost2').textContent = '€' + response.cart_data.total_cost.toFixed(2);
                    document.getElementById('cart-total-cost-sidebar').textContent = '€' + response.cart_data.total_cost.toFixed(2);
                    
                    // Remover da tabela
                    var tableRow = document.getElementById('cart-item-' + productId);
                    if (tableRow) {
                        tableRow.parentNode.removeChild(tableRow);
                    }
    
                    // Remover do card
                    var cardRow = document.getElementById('cart-item-card-' + productId);
                    if (cardRow) {
                        cardRow.parentNode.removeChild(cardRow);
                    }
    
                    // Remover do sidebar
                    var sidebarItem = document.getElementById('cart-sidebar-item-' + productId);
                    if (sidebarItem) {
                        sidebarItem.parentNode.removeChild(sidebarItem);
                    }
                } else {
                    console.error('Resposta AJAX inválida:', response);
                }
            },
            error: function(xhr, status, error) {
                console.error("Ocorreu um erro: " + error);
            }
        });
    }
</script>
