<nav class="navbar navbar-expand-lg" id="navbarMain" style="background-color: rgb(3, 90, 0);">
    <div class="container">
        <!-- Button to open sidebar -->
        <div id="logo-container" class="d-flex flex-column align-items-center mb-2 mb-lg-0">
            <a href="{% url 'store_home' %}">
                <img src="{{ header_logo_url }}" alt="Sacolão" class="header-logo" style="max-height: 40px;">
            </a>
        </div>

        <div class="w-100 d-flex justify-content-center mb-2 mb-lg-0 d-block d-lg-none">
            <form class="input-group d-flex w-100 w-lg-auto justify-content-center" action="{% url 'search_product' %}" method="GET" role="search" style="max-width: 654px;">
                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                <input class="form-control search-input" type="search" name="q" placeholder="O que você procura?" aria-label="search" value="{{ search_query|default_if_none:'' }}">
                <button class="btn btn-warning" type="submit">Procurar</button>
            </form>
        </div>

        <div class="d-block d-lg-none">
            <ul class="list-unstyled">
                <li>
                    {% if user.is_authenticated %}
                        <div class="d-flex align-items-center">
                            <span class="mr-2">{{ user.first_name }} {{ user.last_name }}</span>
                            <a href="{% url 'logout' %}" class="d-flex flex-column align-items-center text-decoration-none text-dark">
                                <i class="bi bi-x-circle" style="font-size: 1.5em;"></i>
                                <span class="icon-text text-center">Sair</span>
                            </a>
                        </div>
                    {% else %}
                        <a href="#" class="d-flex flex-column align-items-center text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i class="bi bi-people" style="font-size: 3em;"></i>
                            <span class="icon-text text-center">Minha Conta</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <!-- Button to open sidebar -->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            ☰ Menu
        </button>

        <!-- Logomarca navbar -->
        <a class="navbar-brand" href="{% url 'store_home' %}">
            <img src="{{ navbar_logo_url }}" alt="Sacolão" class="navbar-logo-small" style="max-height: 30px;">
        </a>

        <div class="w-100 d-flex justify-content-center mb-2 mb-lg-0 d-block d-lg-none">
            <form class="input-group d-flex w-100 w-lg-auto justify-content-center" action="{% url 'search_product' %}" method="GET" role="search" style="max-width: 654px;">
                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                <input class="form-control search-input" type="search" name="q" placeholder="O que você procura?" aria-label="search" value="{{ search_query|default_if_none:'' }}">
                <button class="btn btn-warning" type="submit">Procurar</button>
            </form>
        </div>

        <div class="d-block d-lg-none">
            <ul class="list-unstyled">
                <li>
                    {% if user.is_authenticated %}
                        <div class="d-flex align-items-center">
                            <span class="mr-2">{{ user.first_name }} {{ user.last_name }}</span>
                            <a href="{% url 'logout' %}" class="d-flex flex-column align-items-center text-decoration-none text-dark">
                                <i class="bi bi-x-circle" style="font-size: 1.5em;"></i>
                                <span class="icon-text text-center">Sair</span>
                            </a>
                        </div>
                    {% else %}
                        <a href="#" class="d-flex flex-column align-items-center text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i class="bi bi-people" style="font-size: 3em;"></i>
                            <span class="icon-text text-center">Minha Conta</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>

        <!-- Cart -->
        {% if not is_cart_detail_page %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'cart_detail' %}" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="bi bi-cart" style="font-size: 1.8em;"></i>
                    <div class="d-flex flex-column align-items-start ms-2">
                        <span id="cart-total-items" class="cart-text text-white">{{ total_items }}</span>
                        <span id="cart-total-cost" class="cart-text text-white">€{{ total_cost|default:"0.00" }}</span>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
</nav>

{% include 'components/_sidebar_categories_store.html' %}

{% block extra_styles %}
<style>
    .cart-text {
        font-size: 0.8em;
    }

    .fixed-navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030;
    }

    .navbar-logo-small {
        max-height: 100px;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .fixed-navbar .navbar-logo-small {
        opacity: 1;
    }

    .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 1.1em;
    }

    .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
        color: rgb(242, 255, 0);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .navbar-nav .nav-link.active {
        color: rgb(9, 255, 0);
    }
</style>
{% endblock %}

{% block extra_scripts %}
<script>
    window.addEventListener('scroll', function() {
        var header = document.querySelector('nav.navbar-expand-lg[style]');
        var navbar = document.querySelector('#navbarMain');

        if (window.scrollY >= header.offsetHeight) {
            navbar.classList.add('fixed-navbar');
        } else {
            navbar.classList.remove('fixed-navbar');
        }
    });
</script>
{% endblock %}
